version: "3.9"
services:
  redis:
    image: redis:7-alpine
    command: ["redis-server", "--save", "60", "1000", "--appendonly", "yes"]
    ports:
      - "6380:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  redis-data:
